#mainWrap{
    width: 100%;
    margin-top: 30px;
    background: darkgray;
}
#content{
    margin-left:100px;
    margin-top: 50px;
    flex:5;
}
#lavender{
    height:300px;
    width:100%;
}
#About{
    
    /* border-radius: 10%; */
    background: var(--muteblue);
    /* border: 2px solid black; */
}
#Mission{
    /* border-radius: 10%; */
    background: var(--muteblue);
    /* border: 2px solid black; */
}