#mainWrap{
    width: 80%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
#vNav{
    flex:1;
}
#content{
    margin-top: 50px;
    flex:5;
}
.test{
    flex:2;
}
#About{
    border-radius: 10%;
    border: 2px solid black;
}