#rbreak{
    flex:2;
}
#row1{
    flex:4
}
#row2{
    flex:4
}
#box{
    text-align: center;
    flex:4
}
#cbreak{
    flex:1;
}
article{
    -webkit-column-width:150px;
    -moz-column-width: 150px;
    column-width: 150px;
}
#dirbox{
    height: 400px;
    width: 266px;
}
#dircaption{
    font-size: Large;
    background-color: darkred;
}