#indent{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
}
#indent2{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 100px;
}
/* body{
    background-image: "../assets/baudelaire1.jpg";
} */

#searchpopup{
    position: relative;
    width: 245px;
    height: 288px;
    
    filter: drop-shadow(-4px 4px 5px rgba(0, 0, 0, 0.25));
    

}