#mainWrap{
    width: 100%;
    margin-top: 30px;
    background: darkgray;
}
#content{
    margin-left:3em;
    margin-top: 50px;
    flex:5;
}
#lavender{
    height:300px;
    width:100%;
}
#About{
    
    /* border-radius: 10%; */
    background: var(--muteblue);
    /* border: 2px solid black; */
}
#Mission{
    /* border-radius: 10%; */
    background: var(--mutegreen);
    /* border: 2px solid black; */
}
#contentWrap{
    display:flex;
    flex-direction: column;
}

#car{
    height:100px;
    width:115%;
    border-style: hidden;
}

.clearfix {
    clear: both;
}

article {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ddd;
    border: 1px solid #ccc;
}

.homerow{
    display: flex;
    flex-direction: row;
}
#hr1{
    flex:1;
}
#hr2{
    flex:1;
}
#hr3{
    flex:1;
}
#hr4{
    flex:1;
}
#hr5{
    flex:1;
}