@import "navbar.css";
@import "nav.css";
@import "home.css";
@import "variables.css";
@import "footer.css";
@import "directory.css";
@import "endpages.css";
@import "about.css";
@import "explore.css";
@import "authors-misc.css";


@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

body{
    font-family: 'Fondamento', cursive;
}
entry{
    margin-bottom:20px;
    padding:1em;
    padding-left: 3em;
    border-radius: 2%;
    background-color: blanchedalmond;
    box-shadow: 1em 1em 3em 0.5em rgb(131, 103, 67) inset;
    line-height: 8px;
}
a{
    text-decoration: none;
}